[mysql]
default-character-set=utf8mb4

[mysqld]
# modifiability on each item in aurora is already checked:
# https://docs.aws.amazon.com/ja_jp/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Reference.html
# lower_case_table_names=0 impossible on mac
character_set_server = utf8mb4
collation_server = utf8mb4_general_ci
init_connect = SET NAMES utf8mb4
innodb_file_format = Barracuda
innodb_file_per_table = 1
innodb_large_prefix = 1

